/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

/*root*/
.layout {
  width: 100%;
  height: auto;
}

.tab-bar {
  background: greenyellow;
}

.tab-element {
  height: 100px;
  background: greenyellow;
  /* border-bottom-style: ridge;
  border-bottom-color: black;
  border-bottom-width: 0.1px; */
}

.welcome-message {
  margin-top: 20px;
  margin-left: 20px;
}

.post-table {
  margin-top: 40px;
}

.report-post:hover {
  background: chartreuse;
}


.post-item:hover{
   background: lightgrey;
}

