<!DOCTYPE html>
<html lang="en">

<head>
    <%include ./head/head%>
        <title>Home Page</title>
</head>

<body>
    <div class="row layout">
        <div class="col-lg-2 tab-bar">
            <%include ./root%>
        </div>
        <div class="col-lg-10">
            <!-- <div style="height: 1500px;"></div> -->

        </div>
    </div>
</body>

</html>