<!DOCTYPE html>
<html lang="en">

<head>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Login Page</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="/templates/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="/templates/vendors/iconfonts/puse-icons-feather/feather.css">
        <link rel="stylesheet" href="/templates/vendors/css/vendor.bundle.base.css">
        <link rel="stylesheet" href="/templates/vendors/css/vendor.bundle.addons.css">
        <!-- endinject -->
        <!-- plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="/templates/css/style.css">
        <!-- endinject -->
        <link rel="shortcut icon" href="/templates/images/favicon.png" />
      </head>
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
            <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auto-form-wrapper">
                            <form method="POST" action="/admin/login">
                                <div class="form-group">
                                    <label class="label">Email</label>
                                    <div class="input-group">
                                        <input type="email" name="email" class="form-control" placeholder="Email">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="mdi mdi-check-circle-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label">Password</label>
                                    <div class="input-group">
                                        <input type="password" name="password" class="form-control" placeholder="*********">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="mdi mdi-check-circle-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary submit-btn btn-block">Login</button>
                                </div>
                            </form>
                        </div>
                        <p class="footer-text text-center">copyright © 2018 Sweet Motel. All rights reserved.</p>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <%if (typeof(error) !== 'undefined') {%>
        <script>alert('<%=error%>')</script>
    <%}%>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/templates/vendors/js/vendor.bundle.base.js"></script>
    <script src="/templates/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/templates/js/off-canvas.js"></script>
    <script src="/templates/js/hoverable-collapse.js"></script>
    <script src="/templates/js/misc.js"></script>
    <script src="/templates/js/settings.js"></script>
    <script src="/templates/js/todolist.js"></script>
    <!-- endinject -->
</body>

</html>