<!DOCTYPE html>
<html lang="en">

<head>
    <%include ./head%>
        <title><%=post.title%> Detail</title>
</head>

<body>
    <div class="row layout">
            <div class="col-lg-2 tab-bar">
                    <%include ./root%>
                </div>
        <div class="col-lg-10">
            <%=post%>
            Content here
        </div>
    </div>
</body>

</html>