<div class="row">
    <%if (page_type === 'home') {%>
        <button onclick="goToPage('home')" class="col-lg-12 tab-element text-center" style="background: chartreuse">
            Home
        </button>
        <%} else {%>
            <button onclick="goToPage('home')" class="col-lg-12 tab-element text-center">
                Home
            </button>
            <%}%>
</div>
<div class="row">
    <%if (page_type === 'user') {%>
        <button onclick="goToPage('user')" class="col-lg-12 tab-element text-center" style="background: chartreuse">
            Users
        </button>
        <%} else {%>
            <button onclick="goToPage('user')" class="col-lg-12 tab-element text-center">
                Users
            </button>
            <%}%>
</div>
<div class="row">
    <%if (page_type === 'post') {%>
        <button onclick="goToPage('post')" class="col-lg-12 tab-element text-center" style="background: chartreuse">
            Posts
        </button>
        <%} else {%>
            <button onclick="goToPage('post')" class="col-lg-12 tab-element text-center">
                Posts
            </button>
            <%}%>
</div>
<div class="row">
    <%if (page_type === 'post_report') {%>
        <button onclick="goToPage('post_report')" class="col-lg-12 tab-element text-center" style="background: chartreuse">
            Post Report
        </button>
        <%} else {%>
            <button onclick="goToPage('post_report')" class="col-lg-12 tab-element text-center">
                Post Report
            </button>
            <%}%>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        <%if (admin) {%>
        <a href="/admin/logout">Đăng xuất</a>
        <%}%>
    </div>
</div>