<!DOCTYPE html>
<html lang="en">

<head>
    <%include ./head/head%>
        <title>Home Page</title>
</head>

<body>
    <div class="row layout">
        <div class="col-lg-2 tab-bar">
            <div class="row">
                <button onclick="goToPage('home')"  class="col-lg-12 tab-element text-center">
                    Home
                </button>
            </div>
            <div class="row">
                <button onclick="goToPage('user')" class="col-lg-12 tab-element text-center"
                style="background: chartreuse">
                    Users
                </button>
            </div>
            <div class="row">
                <button onclick="goToPage('post')" class="col-lg-12 tab-element text-center" >
                    Posts
                </button>
            </div>
            <div class="row">
                <button onclick="goToPage('report')" class="col-lg-12 tab-element text-center">
                    Report
                </button>
            </div>
        </div>
        <div class="col-lg-10">
            Content here
        </div>
    </div>
</body>

</html>